//Updates

.updates_wrapper {
    border: solid $articleColor 3px;
    border-top: none;
    background-image: url("/res/starkiller.jpg");
    background-position: left;
    height: 50vh;
    width: 80%;
    padding: 20px;
  }


  .updates {
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    border: 2px solid $buttonColor;
    width: 35%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.7);
    overflow: auto;
  }

  .update_content {
    padding: 5%;
    text-align: justify;
    font-family: $titleFont;
    color: $articleColor;
  }

